/*********** Font import ********/
@import url('https://fonts.googleapis.com/css?family=Nunito');
/*********** End Font import ********/

/************ Page overall layout *************/
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
.wrapper {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header" 
    "article article calendar"
    "footer footer footer"
}
.container {
  padding: 5px 20px;
}
section {
  border-bottom: lightgray 1px solid;
}
/*************  End Page overall layout *********/
/********* Header section *************/
header {
  grid-area: header;
  background: lightpink;
  display: flex;
} 
.main-content {
  grid-area: article;
  /* background: purple;*/
}
aside {
  grid-area: calendar;
  /* background: turquoise;*/
}
.logo {
  width: 400px;
  vertical-align: middle;
  margin: auto;
  margin-left: 0px;
}
.logo h1 {
  margin-top: 0px;
  font-size: 24px;
}
nav ul {
  list-style: none; 
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}
nav li {
  padding: 0px 20px;
}
/********* End Header section *******/ 

/*************  Fonts *************/
h1, h2, h3, h4, p, li {
  font-family: 'Nunito', Sans-Serif;
}
h1 {
  font-size: 34px;
  margin-bottom: 5px;
}
h2 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
ul {
  margin-top: 0px;
}
p {
  margin-top:0px;
}
/****************** End Fonts ******************/
/******* Sticky calendar ************/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
/******* End Sticky calendar ************/

/*********** Basic Information ***************/
.basic-info {
  display: inline-flex;
  width: 100%;
}
.profile-photo {
  width: 25%;
  padding: 20px;
}
.therapist-info {
  width: 75%;
} 
.profile-photo img {
  width: 100%;
  border-radius: 50%;
}
/*********** End Basic Information ***************/
/*********** Media section ***************/
.media {
  display: flex;
}
.video {
  padding-right: 10px;
}
.photos {
  padding-left: 10px;;
}
.photos img {
  display: inline-block;
  margin: auto;
  width: 100%;
  padding-bottom: 5px
}
/*********** End Media section ***********/

/*********** Specialties section *********/
.specialties ul {
  column-count: 2;
  padding: 0px;
}
.specialties li {
  margin-top: 0px;
  list-style: none;
}
/********* End Specialties section *********/
footer {
  grid-area: footer;
  background: lightyellow;
}


/* Media Queries */
/* @media (min-width: 600px) and (max-width: 900px) {
  .container { 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "photo section-2"
      "section-3 section-3"
      "footer footer"
  }
}*/


@media (max-width: 600px) {
  .container { 
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "section-1"
      "section-2"
      "section-3"
      "footer"
  }
}
